﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/" method="post">
    電子郵件或名稱：<input type="text" name="username" value="" /><br/>
    密碼：<input type="password" name="passward" value="" /><br/>
    <input type="submit" name=" value="Submit" />


</form>